body {
    margin: 0;
}

.bg {
    margin: 0;
    padding: none;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
}

.eecs-text {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.iam-text {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 30%;
    font-family: "Times New Roman", Times, serif;
    font-size: 15vh; //  800%;
    font-variant: small-caps;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.masterrace-text {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 70%;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    font-size: 15vh;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fourpointoh-text {
    position: fixed;
    left: 250%;
    top: 50%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 80vmin;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.oski {
    position: absolute;
    margin: 2%;
    height: 20%;
    width: auto;
    top: 72%;
    z-index: 1001;
}

.meecs {
    position: fixed;
    left: 90%;
    top: 90%;
    font-family: sans-serif;
    font-size: 2vmax;
    text-decoration: underline;
}

.bonus-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
